# Data Cleaning and Consolidation

In [1]:
%matplotlib inline

# Filter warnings
import warnings
warnings.filterwarnings("ignore")

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Set font scale and style
plt.rcParams.update({'font.size': 15})

# Load raw data

In [2]:
df1 = pd.read_csv('../data/2013_Tabular_Transportation_Collision_Data.csv')
df2 = pd.read_csv('../data/2014_Tabular_Transportation_Collision_Data.csv')
df3 = pd.read_csv('../data/2015_Tabular_Transportation_Collision_Data.csv')
df4 = pd.read_csv('../data/2016_Tabular_Transportation_Collision_Data.csv')
df5 = pd.read_csv('../data/2017_Tabular_Transportation_Collision_Data.csv')
df6 = pd.read_csv('../data/2018_Tabular_Transportation_Collision_Data.csv')
df7 = pd.read_csv('../data/2019_Tabular_Transportation_Collision_Data.csv')

# Concatenate DataFrames 1 to 4

In [3]:
dfa = pd.concat([df1, df2, df3, df4], sort = False) # Concatenate
print("Data size", dfa.shape)
dfa.columns = [x.lower() for x in dfa.columns] # column names in lower case
dfa.head() # Display

Data size (59107, 17)

,date,time,collision_id,location,x,y,longitude,latitude,environment,light,surface_condition,traffic_control,traffic_control_condition,collision_classification,impact_type,no_of_pedestrians,fid
0,2013/01/18 05:00:00+00,1899/12/31 23:13:00+00,13-704,ROBERTSON RD btwn MOODIE DR & VANIER RD,357144.87500,5020503.5,-75.832298,45.322533,01 - Clear,07 - Dark,01 - Dry,10 - No control,NaN,02 - Non-fatal injury,02 - Angle,0,1
1,2013/01/20 05:00:00+00,1899/12/31 18:45:00+00,13-806,FALLOWFIELD RD btwn EAGLESON RD & RICHMOND RD,356860.18750,5013034.5,-75.836708,45.255344,05 - Drifting Snow,01 - Daylight,06 - Ice,10 - No control,NaN,03 - P.D. only,01 - Approaching,0,2
2,2013/01/03 05:00:00+00,1899/12/31 21:22:00+00,13-101,FIFTH AVE @ RUPERT ST,368589.71875,5029516.5,-75.685158,45.402679,03 - Snow,01 - Daylight,06 - Ice,02 - Stop sign,01 - Functioning,03 - P.D. only,02 - Angle,0,3
3,2013/01/12 05:00:00+00,1899/12/31 21:10:00+00,13-502,BIRCH AVE @ FARNHAM CRES,370292.90625,5035187.0,-75.662651,45.453541,01 - Clear,01 - Daylight,02 - Wet,02 - Stop sign,01 - Functioning,03 - P.D. only,02 - Angle,0,4
4,2013/01/11 05:00:00+00,1900/01/01 04:00:00+00,13-503,ALESTHER ST btwn QUEEN MARY ST & PRINCE ALBERT ST,372133.18750,5032130.5,-75.639542,45.425865,02 - Rain,07 - Dark,02 - Wet,10 - No control,NaN,03 - P.D. only,06 - SMV unattended vehicle,0,5

In [4]:
dfa['date'] = pd.to_datetime(dfa['date'])
dfa['time'] = pd.to_datetime(dfa['time'])

# Extract year, month, day and hour
dfa['c_year'] = dfa['date'].dt.year
dfa['c_month'] = dfa['date'].dt.month_name() 
dfa['c_day'] = dfa['date'].dt.day_name()
dfa['c_hour'] = dfa['time'].dt.hour

# Drop date and time columns
list_to_drop = ['date', 'time', 'collision_id', 'fid', 'location']
dfa.drop(list_to_drop,axis =1, inplace = True)

# Dataframe 6

In [5]:
df6.columns = [x.lower() for x in df6.columns] # column names in lower case
df6.head()

,date,anom_id,year,time,location,geo_id,accident_location,class_of_accident,impact_type,environment,light,road_surface_condition,traffic_control,traffic_control_condition,no_of_pedestrians,x,y,longitude,latitude,objectid
0,2018/01/14 00:00:00+00,18-701,2018,5:50:00 PM,DALY AVE btwn CUMBERLAND ST & KING EDWARD AVE ...,__3ZA8ZJ,04 - At/near private drive,03 - P.D. only,06 - SMV unattended vehicle,01 - Clear,07 - Dark,05 - Packed snow,10 - No control,NaN,0,368538.3365,5032240.345,-75.685462,45.427193,1
1,2018/01/15 00:00:00+00,18-702,2018,8:16:00 PM,INDUSTRIAL AVE @ TRAINYARDS DR (0011906),11906,02 - Intersection related,02 - Non-fatal injury,03 - Rear end,01 - Clear,07 - Dark,01 - Dry,01 - Traffic signal,01 - Functioning,0,371685.9556,5030539.478,-75.645472,45.411595,2
2,2018/01/15 00:00:00+00,18-703,2018,11:24:00 PM,KING EDWARD AVE btwn MARIE CURIE PRIV & TEMPLE...,__3ZA3MD,04 - At/near private drive,03 - P.D. only,02 - Angle,01 - Clear,07 - Dark,03 - Loose snow,10 - No control,NaN,0,369051.3901,5031520.374,-75.679000,45.420668,3
3,2018/01/16 00:00:00+00,18-704,2018,12:47:00 AM,BANK ST @ HERON RD (0002155),2155,02 - Intersection related,03 - P.D. only,03 - Rear end,03 - Snow,07 - Dark,03 - Loose snow,01 - Traffic signal,01 - Functioning,0,369995.7196,5026851.542,-75.667552,45.378572,4
4,2018/01/16 00:00:00+00,18-705,2018,5:47:00 AM,INNES RD @ STONEHENGE CRES E (0009355),9355,03 - At intersection,03 - P.D. only,02 - Angle,03 - Snow,07 - Dark,03 - Loose snow,01 - Traffic signal,01 - Functioning,0,375364.7878,5031314.250,-75.598367,45.418205,5

In [6]:
def split_extract(string_):
    """
    Extract the first value in a token

    Parameters
    -----------
    string_: string text

    Returns
    -------------
    first value in a token 
    """
    token = [x for x in string_.split(':')]
    return token[0]

In [7]:
# Add collision hour
df6['c_hour'] = df6['time'].apply(split_extract)

# Rename columns
col_map ={'anom_id':'collision_id', 'road_surface_condition': 'surface_condition',
          'class_of_accident':'collision_classification', 'objectid':'fid'}
df6.rename(columns=col_map, inplace=True)

# Extract year, month, day and hour
df6['date'] = pd.to_datetime(df6['date'])
df6['c_year'] = df6['date'].dt.year
df6['c_month'] = df6['date'].dt.month_name() 
df6['c_day'] = df6['date'].dt.day_name()

# Drop columns
list_to_drop =['geo_id', 'time', 'date', 'year', 
            'accident_location', 'location' ,
            'collision_id', 'fid'
            ]
df6.drop(list_to_drop,axis =1, inplace = True)

In [8]:
# check if the columns match
sorted(dfa.columns)  == sorted(df6.columns)

True

In [9]:
df6.c_hour.value_counts()

5          1431
8          1344
7          1332
4          1299
6          1248
3          1247
9          1179
2          1016
12         1010
11         1000
1           952
10          919
Unknown     507
Name: c_hour, dtype: int64

In [10]:
# Replace Unknown with the mode
df6.replace({'Unknown':'5'}, inplace=True)

# Convert to integer
df6.c_hour = df6.c_hour.astype('int')

# Dataframe 7

In [11]:
df7.columns = [x.lower() for x in df7.columns] # column names in lower case
df7.head()

,accident date,accident time,accident location,classification,initial impact type,environment,light,road surface,traffic control,traffic control condition,number of pedestrians,x,y,latitude,longitude
0,"01/01/2019, 03:00 AM","01/01/2019, 03:00 AM",01 - Non intersection,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,04 - Slush,10 - No control,NaN,0,371081.4809,5.023385e+06,45.347281,-75.654155
1,"01/01/2019, 03:24 AM","01/01/2019, 03:24 AM",01 - Non intersection,03 - P.D. only,07 - SMV other,04 - Freezing Rain,07 - Dark,04 - Slush,10 - No control,NaN,0,374129.6712,5.022657e+06,45.340431,-75.615362
2,"01/01/2019, 04:42 AM","01/01/2019, 04:42 AM",03 - At intersection,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,04 - Slush,01 - Traffic signal,01 - Functioning,0,373380.2859,5.032536e+06,45.429397,-75.623550
3,"01/01/2019, 05:09 AM","01/01/2019, 05:09 AM",03 - At intersection,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,03 - Loose snow,11 - Roundabout,01 - Functioning,0,383150.8189,5.034441e+06,45.445510,-75.498398
4,"01/01/2019, 05:00 AM","01/01/2019, 05:00 AM",01 - Non intersection,03 - P.D. only,01 - Approaching,03 - Snow,07 - Dark,04 - Slush,10 - No control,NaN,0,368409.6147,5.026247e+06,45.373277,-75.687879

In [12]:
# Rename columns
col_map ={'road surface': 'surface_condition',
          'classification':'collision_classification',
          'accident date':'date', 'accident time': 'time', 
          'initial impact type':'impact_type',
          'traffic control':'traffic_control',
          'traffic control condition': 'traffic_control_condition',
          'accident location': 'location',
          'number of pedestrians':'no_of_pedestrians'
          }
df7.rename(columns=col_map, inplace=True)

# Extract year, month, day, and hour
df7['date'] = pd.to_datetime(df7['date'])
df7['time'] = pd.to_datetime(df7['time'])

df7['c_year'] = df7['date'].dt.year
df7['c_month'] = df7['date'].dt.month_name() 
df7['c_day'] = df7['date'].dt.day_name()
df7['c_hour'] = df7['time'].dt.hour

list_to_drop = ['date', 'time', 'location']
df7.drop(list_to_drop,axis =1, inplace = True)

In [13]:
df7.head()

,collision_classification,impact_type,environment,light,surface_condition,traffic_control,traffic_control_condition,no_of_pedestrians,x,y,latitude,longitude,c_year,c_month,c_day,c_hour
0,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,04 - Slush,10 - No control,NaN,0,371081.4809,5.023385e+06,45.347281,-75.654155,2019,January,Tuesday,3
1,03 - P.D. only,07 - SMV other,04 - Freezing Rain,07 - Dark,04 - Slush,10 - No control,NaN,0,374129.6712,5.022657e+06,45.340431,-75.615362,2019,January,Tuesday,3
2,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,04 - Slush,01 - Traffic signal,01 - Functioning,0,373380.2859,5.032536e+06,45.429397,-75.623550,2019,January,Tuesday,4
3,03 - P.D. only,07 - SMV other,03 - Snow,07 - Dark,03 - Loose snow,11 - Roundabout,01 - Functioning,0,383150.8189,5.034441e+06,45.445510,-75.498398,2019,January,Tuesday,5
4,03 - P.D. only,01 - Approaching,03 - Snow,07 - Dark,04 - Slush,10 - No control,NaN,0,368409.6147,5.026247e+06,45.373277,-75.687879,2019,January,Tuesday,5

In [16]:
# check if the columns match
sorted(dfa.columns)  == sorted(df7.columns)

True

# Dataframe 5
The date and time in dataframe 5 is not consistent with the rest of dataframes, therefore we will drop Dataframe 5

In [5]:
df5.columns = [x.lower() for x in df5.columns] # column names in lower case
df5.head(10)

,record,location,x,y,longitude,latitude,year,date,time,environment,road_surface,traffic_control,collision_location,light,collision_classification,impact_type,fid
0,101,AIRPORT PKWY @ HUNT CLUB RD,371019.37500,5023704.0,-75.654907,45.350155,2017,1484283600000,-2209003920000,01 - Clear,01 - Dry,01 - Traffic signal,02 - Intersection related,01 - Daylight,03 - P.D. only,04 - Sideswipe,1
1,102,AIRPORT PKWY @ HUNT CLUB RD,371019.53125,5023703.0,-75.654900,45.350147,2017,1489550400000,-2209028940000,03 - Snow,04 - Slush,01 - Traffic signal,02 - Intersection related,01 - Daylight,03 - P.D. only,03 - Rear end,2
2,103,AIRPORT PKWY @ HUNT CLUB RD,371018.87500,5023702.5,-75.654907,45.350140,2017,1492574400000,-2209008540000,02 - Rain,02 - Wet,01 - Traffic signal,02 - Intersection related,01 - Daylight,03 - P.D. only,04 - Sideswipe,3
3,104,AIRPORT PKWY @ HUNT CLUB RD,371019.00000,5023703.0,-75.654907,45.350143,2017,1513832400000,-2209026120000,01 - Clear,06 - Ice,01 - Traffic signal,02 - Intersection related,01 - Daylight,03 - P.D. only,03 - Rear end,4
4,105,AIRPORT PKWY @ UPLANDS DR RAMP 62,371299.43750,5021621.5,-75.651611,45.331390,2017,1509336000000,-2209045200000,02 - Rain,02 - Wet,03 - Yield sign,02 - Intersection related,07 - Dark,03 - P.D. only,04 - Sideswipe,5
5,106,AIRPORT PKWY btwn AIRPORT PKWY/HUNT CLUB RAMP ...,370459.62500,5024532.0,-75.661934,45.357655,2017,1513573200000,-2209042860000,01 - Clear,01 - Dry,10 - No control,01 - Non intersection,07 - Dark,03 - P.D. only,07 - SMV other,6
6,107,AIRPORT PKWY btwn AIRPORT PKWY/WALKLEY RD SOUT...,370192.56250,5025326.0,-75.665237,45.364830,2017,1509508800000,-2208994800000,02 - Rain,02 - Wet,10 - No control,01 - Non intersection,05 - Dusk,02 - Non-fatal injury,03 - Rear end,7
7,108,AIRPORT PKWY btwn AIRPORT PKWY/WALKLEY RD SOUT...,370185.03125,5025343.5,-75.665337,45.364983,2017,1488949200000,-2209012620000,02 - Rain,02 - Wet,10 - No control,01 - Non intersection,01 - Daylight,03 - P.D. only,03 - Rear end,8
8,109,AIRPORT PKWY btwn AIRPORT PKWY/WALKLEY RD SOUT...,370209.37500,5025284.0,-75.665031,45.364449,2017,1490760000000,-2209024680000,01 - Clear,01 - Dry,10 - No control,01 - Non intersection,01 - Daylight,02 - Non-fatal injury,01 - Approaching,9
9,110,AIRPORT PKWY btwn BROOKFIELD RAMP 34 & BRONSON...,368709.78125,5026677.5,-75.683990,45.377125,2017,1504411200000,-2209017420000,02 - Rain,02 - Wet,10 - No control,01 - Non intersection,01 - Daylight,03 - P.D. only,04 - Sideswipe,10

# Concatenate All DataFrames Except DataFrame 5

In [17]:
df = pd.concat([dfa, df6, df7], sort = False) 
print("Data size", df.shape)
df.head()

Data size (89990, 16)

,x,y,longitude,latitude,environment,light,surface_condition,traffic_control,traffic_control_condition,collision_classification,impact_type,no_of_pedestrians,c_year,c_month,c_day,c_hour
0,357144.87500,5020503.5,-75.832298,45.322533,01 - Clear,07 - Dark,01 - Dry,10 - No control,NaN,02 - Non-fatal injury,02 - Angle,0,2013,January,Friday,23
1,356860.18750,5013034.5,-75.836708,45.255344,05 - Drifting Snow,01 - Daylight,06 - Ice,10 - No control,NaN,03 - P.D. only,01 - Approaching,0,2013,January,Sunday,18
2,368589.71875,5029516.5,-75.685158,45.402679,03 - Snow,01 - Daylight,06 - Ice,02 - Stop sign,01 - Functioning,03 - P.D. only,02 - Angle,0,2013,January,Thursday,21
3,370292.90625,5035187.0,-75.662651,45.453541,01 - Clear,01 - Daylight,02 - Wet,02 - Stop sign,01 - Functioning,03 - P.D. only,02 - Angle,0,2013,January,Saturday,21
4,372133.18750,5032130.5,-75.639542,45.425865,02 - Rain,07 - Dark,02 - Wet,10 - No control,NaN,03 - P.D. only,06 - SMV unattended vehicle,0,2013,January,Friday,4

In [18]:
# Drop duplicate rows
df.drop_duplicates(inplace = True)

In [19]:
# Rename column
df.rename(columns = {'collision_classification':'class'}, inplace = True)

In [20]:
# Change encoding
_dict = {'03 - P.D. only':'P.D. only', '02 - Non-fatal injury':'Non-fatal injury', 
'01 - Fatal injury':'Fatal injury'}
df['class'].replace(_dict, inplace=True)

# Save data

In [21]:
df.to_csv('../data/clean_data.csv', index = False)